[flake8]
max-line-length = 120
noqa-require-code = True
docstring-convention = numpy

# D100 Missing docstring in public module
# D101: Missing docstring in public class
# D104 Missing docstring in public package
# D105: Missing docstring in magic method
# E501: Line to long
# W503: Line break occurred before a binary operator
# W504: line break after binary operator
ignore =
    D100,
    D101,
    D104,
    D105,
    E501,
    W503,
    W504

per-file-ignores = tests/*:D
