# PyCharm
.idea

# macOS
.DS_Store
._*
*.swp

# cache
*.pyc

# virtuelenv
.venv

# GitHub Action
/output/

# checks
.mypy_cache
.pytest_cache

# coverage
.coverage*
/coverage.xml
/junit/test-results.xml

# build package
*.egg
*.egg-info
/build/
/dist/

# nuitka
/*.build/
/*.dist/
/*.onefile-build/
