*.egg
*.egg-info
*.pyc
.coverage
.DS_Store
.mypy_cache
.pytest_cache
.idea
.venv
._*
*.swp
build/*
dist/*
tmp
/coverage.xml
/junit/test-results.xml
/src/unipi_control/config/etc/unipi/hardware/neuron/evok/
