global-exclude *.pyc


global-exclude *.pyc

global-include .editorconfig

include LICENSE

recursive-include src *.py

exclude .pre-commit-config.yaml
exclude requirements-dev.txt
exclude requirements.txt

prune src/etc
prune src/lib
