[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymodbus = "~=2.5.3"
pyyaml = "~=6.0"
paho-mqtt = "~=1.6.1"
asyncio-mqtt = "~=0.12.1"

[dev-packages]
black = "*"
check-manifest = "*"
flake8 = "*"
flake8-docstrings = "*"
mypy = "*"
pre-commit = "*"
types-pyyaml = "*"
pytest = "*"
pytest-cov = "*"
pytest-asyncio = "*"
pytest-mock = "*"
coverage-badge = "*"

[requires]
python_version = "3.8"
