[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asyncio-mqtt = "*"
pymodbus = "*"
pyyaml = "*"
termcolor = "*"

[dev-packages]
black = "*"
check-manifest = "*"
flake8 = "*"
flake8-bugbear = "*"
flake8-docstrings = "*"
mypy = "*"
pre-commit = "*"
setuptools = "*"
types-pyyaml = "*"
types-termcolor = "*"
types-aiofiles = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
