[Unit]
Description=Unipi MQTT Client
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/umc
Environment=PYTHONUNBUFFERED=1
Restart=on-failure

[Install]
WantedBy=multi-user.target
