[Unit]
Description=Unipi Control
After=multi-user.target
Requires=unipitcp.service
ConditionPathExists=/etc/control.yaml

[Service]
Type=simple
ExecStart=/opt/.venv/bin/unipi-control --log systemd
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
