[Unit]
Description=Unipi Control
After=multi-user.target
Requires=unipitcp.service

[Service]
Type=simple
ExecStart=/usr/bin/unipi-control
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
