name: CI

on:
  workflow_dispatch:
  pull_request:
  push:
    tags:
      - v*

jobs:
  parameters:
    name: Parameters
    uses: superbox-dev/python-package-workflows/.github/workflows/parameters.yml@main
    with:
      json: ./.github/workflows/parameters.json

  unit-testing:
    name: Unit testing
    uses: superbox-dev/python-package-workflows/.github/workflows/unit-testing.yml@main
    needs:
      - parameters
    with:
      package-name: ${{ needs.parameters.outputs.package-name }}
      python-versions: ${{ needs.parameters.outputs.python-versions }}

  coverage:
    name: Coverage
    uses: superbox-dev/python-package-workflows/.github/workflows/coverage.yml@main
    needs:
      - parameters
      - unit-testing
    with:
      latest-python-version: ${{ needs.parameters.outputs.latest-python-version }}

  code-analyse:
    name: Code analyse
    uses: superbox-dev/python-package-workflows/.github/workflows/code-analyse.yml@main
    needs:
      - parameters
    with:
      python-versions: ${{ needs.parameters.outputs.python-versions }}

  security:
    name: Security
    uses: superbox-dev/python-package-workflows/.github/workflows/security.yml@main
    needs:
      - parameters
    with:
      latest-python-version: ${{ needs.parameters.outputs.latest-python-version }}

  build-python-package:
    name: Build python package
    if: |
      contains(fromJSON('["tag", "branch"]'), github.ref_type)
      && !endsWith(github.ref_name, '/merge')
    uses: superbox-dev/python-package-workflows/.github/workflows/build-python-package.yml@main
    needs:
      - parameters
      - unit-testing
      - code-analyse
    with:
      latest-python-version: ${{ needs.parameters.outputs.latest-python-version }}
      package-version: ${{ needs.parameters.outputs.package-version }}

  build-binary-files:
    name: Build binary files
    if: |
      contains(fromJSON('["tag", "branch"]'), github.ref_type)
      && !endsWith(github.ref_name, '/merge')
    uses: superbox-dev/python-package-workflows/.github/workflows/build-binary-files.yml@main
    needs:
      - parameters
      - unit-testing
      - code-analyse
    with:
      package-version: ${{ needs.parameters.outputs.package-version }}
      binary-files: ${{ needs.parameters.outputs.binary-files }}

  build-opkg-package:
    name: Build OPKG package
    needs:
      - parameters
      - build-binary-files
    uses: superbox-dev/python-package-workflows/.github/workflows/build-opkg-package.yml@main
    with:
      latest-python-version: ${{ needs.parameters.outputs.latest-python-version }}
      package-name: ${{ needs.parameters.outputs.package-name }}
      package-version: ${{ needs.parameters.outputs.package-version }}
      package-maintainer: ${{ needs.parameters.outputs.package-maintainer }}
      package-source-url: ${{ needs.parameters.outputs.package-source-url }}
      package-description: ${{ needs.parameters.outputs.package-description }}
      package-license: ${{ needs.parameters.outputs.package-license }}

  release:
    name: Release on GitHub
    if: github.ref_type == 'tag'
    uses: superbox-dev/python-package-workflows/.github/workflows/release.yml@main
    needs:
      - parameters
      - build-python-package
      - build-opkg-package
    with:
      package-name: ${{ needs.parameters.outputs.package-name }}
      package-version: ${{ needs.parameters.outputs.package-version }}

  publish-on-ftp:
    name: Publish on FTP
    needs:
      - parameters
      - build-opkg-package
    uses: superbox-dev/python-package-workflows/.github/workflows/publish-on-ftp.yml@main
    with:
      ftp-hostname: ${{ vars.FTP_HOSTNAME }}
      ftp-port: ${{ vars.FTP_PORT }}
      ftp-username: ${{ vars.FTP_USERNAME }}
      ftp-publish-path: ${{ vars.FTP_PUBLISH_PATH }}
      is-dev-version: ${{ needs.parameters.outputs.is-dev-version }}
    secrets:
      FTP_PASSWORD: ${{ secrets.FILES_SUPERBOX_ONE_FTP_PASSWORD }}

  publish-on-pypi:
    name: Publish
    needs:
      - release
    uses: superbox-dev/python-package-workflows/.github/workflows/publish-on-pypi.yml@main
    secrets:
      PYPI_API_TOKEN: ${{ secrets.PYPI_API_TOKEN }}
